<div id="gtco-features">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                    <h2 class="cursive-font">Our Services</h2>
                    <p>Down-home atmosphere, welcome smiles, friends and family are just a few of the 
                            features that you'll find at The Km Restaurant! Add these ingredients to a 
                            fabulous menu, and you have the makings of a wonderful experience!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i class="ti-face-smile"></i>
                        </span>
                        <h3>Happy People</h3>
                        <p>There's something for everyone - Please feel free to take a look at our menu 
                                to see what we have to offer!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i class="ti-thought"></i>
                        </span>
                        <h3>Creative Cuisinier</h3>
                        <p>Contemporary menus, special and full of charm, elaborate to delight and sharpen like guest sensations</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i class="ti-truck"></i>
                        </span>
                        <h3>Delivery</h3>
                        <p>Go check our menu and order today! </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
